*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.header{
  position: absolute;
  width: 100%;
  top: 0;
  background-color: black;
  vertical-align:middle;
}
.container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1020px;
}
.left{
  float: left;
}
.nav{
  display: block;
  color: white;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-left: 20px;
}
#logo{
  float: left;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 32px;
  height: 32px;
}

#title{
margin: 0 auto;
height: 55px;
line-height: 55px;
color:white;
display: inline-block;
}
